
.categories {
    width: 400px;
    background-color: #f5f5f5;
    align-self: flex-start;

    padding: 16px;

    display: flex;
    flex-direction: column;

    .categorie {
        padding: 10px;
        border-radius: 8px;
        &:hover {
            background-color: rgb(218, 218, 218);
        }
    }

    span {
        margin-bottom: 16px;
    }
}

.flex {
    display: flex;
    gap: 32px;

    &-jc {
        justify-content: center;
    }

    @media screen and (max-width: 600px) {
        flex-direction: column;
    }
}

