

.products {

    display: flex;
    flex-wrap: wrap;
    gap: 32px;

    .product {
        //background-color: red;
        width: 192px;

        &-image {
            display: flex;
            align-items: center;
            justify-content: center;

            background-color: #f5f5f5;
            height: 192px;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        &-infos {
            $spacing: 10px;

            display: flex;
            flex-direction: column;
            align-items: flex-start;

            gap: $spacing;
            margin-top: $spacing;

            a.button {
                padding: 8px 12px;
            }
        }
    }

}

.productd {

    &-image {
        display: flex;
        gap: 12px;
        flex-direction: column;

        @media screen and (max-width: 600px) {
            align-items: center;
        }

        &-big {
            width: 400px;
            height: 400px;
            background-color: #f5f5f5;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        &-smalls {
            display: flex;
            gap: 12px;
        }

        &-small {
            height: 91px;
            width: 91px;
            background-color: #f5f5f5;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }

            &:hover {
                background-color: #eeeeee;
                cursor: pointer;
            }
        }
    }

    &-infos {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;

        @media screen and (max-width: 600px) {
            margin-left: 16px;
        }
    }

    &-title {
        font-size: 32px;
    }

}